*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog-2 img{
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}
.anima{
    position: absolute;
    top: 5%;
    right: 10%;
    width: 40%;
    animation: anima 2.5s ease infinite;
}

@keyframes anima {
    0% {
        transform: scale(0.8, 0.8);
        rotate: -8deg;
    }
    
    25% {
        transform: scale(1, 1);
        rotate: 8deg;
    }
    50% {
        transform: scale(1, 1);
        rotate: -8deg;
    }
    75% {
        transform: scale(1, 1);
        rotate: 8deg;
    }
    
    100% {
        transform: scale(0.8, 0.8);
        rotate: -8deg;
    }
}

/* xoso page */
.blog_xoso .MainBoxXoso{
    width: 100%;
}


.blog_xoso .MainBoxXoso .leftBox{
    width: 70%;
}
.blog_xoso .MainBoxXoso .leftBox .box{
    width: 100%;
}


.blog_xoso .MainBoxXoso .rightBox{
    width: 30%;
}
.blog_xoso .MainBoxXoso .rightBox .box{
    width: 100%;
}


/* respon */
@media (max-width: 480px){
    header{
        width: 100%;
    }
    header .top{
        width: 100%;
        display: inline-block;
    }
    header .top .logo{
        width: 70%;
        margin: auto;
    }
    header .top .top_btn{
        width: 100%;
        margin: 10px auto;
        display: flex;
        justify-content: space-around;
    }
    header .top .top_btn .btn1,
    header .top .top_btn .btn2{
        padding: 8px 15px;
        width: 100%;
    }
    header nav .menu .close_nav{
        position: absolute;
        top: 10px;
        right: 10px;
        color: aliceblue;
        display: flex;
        width: 20px;
        height: 20px;
        font-size: 30px;
    }
    header .top .open_nav{
        display: block;
        font-size: 30px;
        color: #fff;
    }
    header nav .menu{
        overflow-x: hidden;
        width: 0%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
        padding: 80px 0px 0px 0px;
        background-color: #374151;
        transition: 0.2s;
    }
    header nav .menu ul li{
        margin: 10px 0px;
        width: 100%;
        padding: 10px 0px;
    }
    header nav .menu ul li a{
        font-size: 15px;
        width: 100%;
    }

    .trending{
        width: 100%;
        margin: 5px 0px !important;
    }
    .blog-1{
        padding: 5px;
        width: 100%;
    }
    .blog-1 .title{
        padding: 5px;
        font-size: 18px;
    }
    .blog-1 .main-box{
        display: inline-block;
    }
    .blog-1 .main-box .col-span-3{
        width: 50%;
        float: left;
        padding: 5px;
    }
    .blog-1 .main-box .col-span-3 .box{
        margin: 5px 0px;
    }
    .blog-1 .main-box .col-span-3 .box .des h1{
        font-size: 15px;
    }
    .blog-1 .main-box .col-span-3 .box .des p{
        font-size: 13px;
    }


    .blog-2{
        width: 100%;
        padding: 5px;
    }
    .blog-2 h1{
        font-size: 15px;
    }
    .blog-2 p{
        font-size: 13px;
    }
    .blog-2 img{
        width: 100%;
    }
}
@media (max-width: 767px){
    header .top .top_btn .btn1,
    header .top .top_btn .btn2{
        padding: 8px 12px;
        width: 100%;
    }
    header nav .menu ul li a{
        padding: 0px 5px;
        font-size: 15px;
    }
    .blog-1{
        padding: 5PX;
        width: 100%;
    }
    .blog-1 .title{
        padding: 5px;
        font-size: 18px;
    }
    .blog-1 .main-box{
        display: inline-block;
    }
    .blog-1 .main-box .col-span-3{
        width: 50%;
        float: left;
        padding: 5px;
    }
    .blog-1 .main-box .col-span-3 .box{
        margin: 5px 0px;
    }

    .blog-2{
        width: 100%;
        padding: 5px;
    }
    .blog-2 h1{
        font-size: 15px;
    }
    .blog-2 p{
        font-size: 13px;
    }
    .blog-2 img{
        width: 100%;
    }
}